<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${titulo}">Lista de materias</title>
    <!-- Incluye aquí tu CSS y otros recursos necesarios -->
</head>
<body>
    <h1 th:text="${titulo}">Lista de materias</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <!-- Agrega más columnas si es necesario -->
            </tr>
        </thead>
        <tbody>
            <tr class="table-info" th:each="materia : ${materiaLista}">
                <th scope="row" th:text="${materia.id}"></th>
                <td scope="row" th:text="${materia.nombre}"></td>
                <!-- Agrega más celdas si es necesario -->
            </tr>
        </tbody>
    </table>
    
            <h2>Buscar Materia</h2>
    	<form th:action="@{/inicio/buscar}" method="get">
        <label for="id">ID de la Materia:</label>
        <input type="number" id="id" name="id" required>
        <button type="submit">Buscar</button>
    </form>
    
    
</body>
</html>